body.webtools {
    background: #ccc;

    header {
        background: #777;
    }
    .container {
        background: #eee;
    }
    footer {
        background: #fff;
        color: #777;
    }
}
